body {
    background-color: black;
    font-family: "carlmarx", Courier, Impact, Haettenschweiler,"Arial Narrow Bold", sans-serif;
    color: white;
    /*max-width: 800px;*/
    /*margin: 0 auto;*/
    padding: 40px;
}

main {
    position: relative;
    max-width: 900px;
    margin: auto;
}

h1 {
    font-size: 80px;
    position: absolute;
    top: 400px;  
    left: 250px;
    z-index: 1; 
}

h2 {
    font-size: 40px;
    -webkit-text-stroke: 2px blue;
    margin-left: 20px;
    text-decoration: underline;
    transition: transform 1.5s ease;
    transform-origin: 1%;
    
}

h2:hover {
    transform: scale(1.1);
}

h3 {
    font-size: 35px;
    margin-left: 40px;
    -webkit-text-stroke: 1px blue;
}

p {
    font-size: 27px;
    margin-left: 20px;
}

section {
    text-align: justify;
    /* border: 5px dotted white; Pour confirmer que mes sections sont OK */
}

section .profil {
    margin-top: 400px; 
}

.alternance {
    margin-left: 40px;
    color: red;
    -webkit-text-stroke: 1% black;
}

.formations,
.expériences {
    border-bottom: 1px solid;
}

.experiences-professionnelles li,
.experiences-personnelles li {
    list-style-type: none;
}

.infos {
    font-size: 25px;
    margin-top: px;
    margin-bottom: 20px;
    margin-left: 40px;
    color: aliceblue;
}

.profil {
    top: 800px;
}

.profile-picture {
    position: absolute;
    top: 20px;
    right: -10px; 
    width: 400px;
    height: auto;
    float: right;
}

.camera {
    position: absolute;
    top: 430px;
    right: 620px; 
    width: 80px;
    height: auto;
    float: right;
    transform: rotate(-40deg);
    z-index: 2;
}

.logo {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 90px;
    height: auto;

}
  
.comp {
    display: flex;
    justify-content: center;
}
 

.white-band {
    height: 30px; 
    background-color: white; 
    width: 100%;
    position: relative;
    top: 550px
}

.vertical-band {
    background-color: white; 
    width: 25px;
    height: 74vh; 
    position: absolute; 
    top: 10; 
    left: 10;
}

.experiences {
    display:flex;
    flex-wrap: wrap;

}

.experiences h2 {
    width: 100%;
}

.experiences div {
    flex: 0%;
}

.competences {
    display:flex;
    flex-wrap: wrap;

}

.competences h2 {
    width: 100%;
}

.competences div {
    flex: 0%;
}

