body {
    background-color: black;
    font-family: "carlmarx", Courier, Impact, Haettenschweiler,"Arial Narrow Bold", sans-serif;
    color: white;
}

main {
    position: relative;
}

h1 {
    font-size: 180px;
    position: absolute;
    top: 200px;  
    left: 600px; 
}

h2 {
    font-size: 40px;
    -webkit-text-stroke: 2px blue;
    margin-left: 20px;
    text-decoration: underline;
}

h3 {
    font-size: 35px;
    margin-left: 40px;
    -webkit-text-stroke: 1px blue;
}

p {
    font-size: 27px;
    margin-left: 20px;
}

section {
    text-align: justify;
    /* border: 5px dotted white; */
}

section .profil {
    margin-top: 400px; 
}

.alternance {
    margin-left: 40px;
    color: red;
    -webkit-text-stroke: 1% black;
}

.formations,
.expériences {
    border-bottom: 1px solid;
}

.experiences-professionnelles li,
.experiences-personnelles li {
    list-style-type: none;
}

.infos {
    font-size: 25px;
    margin-top: px;
    margin-bottom: 20px;
    margin-left: 40px;
    color: aliceblue;
}

.profil {
    top: 800px;
}

.profile-picture {
    position: absolute;
    top: -100px;
    right: 100px; 
    width: 500px;
    height: auto;
    float: right;
}
  
.comp {
    display: flex;
    justify-content: center;
}
 

.white-band {
    height: 30px; 
    background-color: white; 
    width: 100%;
    position: relative;
    top: 550px
}

.vertical-band {
    background-color: white; 
    width: 25px;
    height: 74vh; 
    position: absolute; 
    top: 10; 
    left: 10;
}

.experiences {
    display:flex;
    flex-wrap: wrap;

}

.experiences h2 {
    width: 100%;
}

.experiences div {
    flex: 0%;
}

.competences {
    display:flex;
    flex-wrap: wrap;

}

.competences h2 {
    width: 100%;
}

.competences div {
    flex: 0%;
}